.slides {
    padding: 100px !important;
}

/* body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210803/pngtree-modern-simple-elegant-dark-blue-landing-page-website-background-image_756950.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    } */
    